<ion-header>
  <ion-toolbar>
    <ion-title>Register - Organizer</ion-title>
    <ion-buttons slot="end">
        <ion-button (click)="cancel()">Cancel</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-text-center">
  <div class="center-items">
    <ion-item>
      <ion-input label="Enter your full name" labelPlacement="stacked" type="text" placeholder="Name & Surname"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input label="Enter your club affiliation" labelPlacement="stacked" type="text" placeholder="Club / University"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input label="Enter your club email" labelPlacement="stacked" type="text" placeholder="Example@email.ie"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input label="Enter your phone number" labelPlacement="stacked" type="text" placeholder="Phone Number"></ion-input>
    </ion-item>
  </div>
</ion-content>