<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>tournament-participant</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- Scrollable wrapper -->
  <div class="bracket-wrapper">
    <table class="bracket-table">
      <thead>
        <tr>
          <th>Round 1</th>
          <th>Round 2</th>
          <th>Semi finals</th>
          <th>Finals</th>
        </tr>
      </thead>
      <tbody>
        <!-- Group 1 -->
        <tr>
          <td class="player-cell">
            Player 1
            <div class="vertical-connector"></div>
          </td>
        </tr>
        <tr>
          <td></td>
        </tr> <!-- spacers SEMI -->
        <tr>
          <td></td>
          <td class="player-cell">
            semi 1
            <div class="vertical-connector"></div>
            <div class="vertical-end-connector"></div>
            <div class="horizontal-connector"></div>
          </td>
        </tr>
        <tr></tr> <!-- spacers -->
        <tr>
          <td class="player-cell">
            Player 2
            <div class="vertical-connector"></div>
          </td>
        </tr>
        <tr></tr> <!-- spacers FINAL-->
        <!-- final -->
        <tr>
          <td></td>
          <td></td>
          <td class="player-cell">
            final 1
            <div class="vertical-connector"></div>
            <div class="vertical-end-connector"></div>
            <div class="horizontal-connector-2"></div>
          </td>
        </tr>
        <tr></tr> <!-- spacers -->

        <tr>
          <td class="player-cell">
            Player 3
            <div class="vertical-connector"></div>
          </td>
        </tr>
        <tr></tr> <!-- spacers SEMI -->
        <tr>
          <td></td>
          <td class="player-cell">
            semi 2
            <div class="vertical-connector"></div>
            <div class="vertical-end-connector"></div>
            <div class="horizontal-connector"></div>
          </td>
        </tr>
        <tr></tr> <!-- spacers -->
        <tr>
          <td class="player-cell">
            Player 4
            <div class="vertical-connector"></div>
          </td>
        </tr>

        <tr></tr> <!-- spacers WINNER -->
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td class="player-cell">
            Winner
            <div class="vertical-end-connector"></div>
            <div class="horizontal-connector-3"></div>
          </td>
        </tr>
        <tr></tr> <!-- spacers WINNER -->

        <!-- Group 2 -->
        <tr>
          <td class="player-cell">
            Player 5
            <div class="vertical-connector"></div>
          </td>
        </tr>
        <tr></tr> <!-- spacers SEMI-->
        <tr>
          <!-- spacers -->
          <td></td>
          <td class="player-cell">
            semi 3
            <div class="vertical-connector"></div>
            <div class="vertical-end-connector"></div>
            <div class="horizontal-connector"></div>
          </td>
        </tr>
        <tr></tr> <!-- spacers -->
        <tr>
          <td class="player-cell">
            Player 6
            <div class="vertical-connector"></div>
          </td>
        </tr>
        <tr></tr> <!-- spacers FINAL -->
        <!-- final -->
        <tr>
          <td></td>
          <td></td>
          <td class="player-cell">
            final 2
            <div class="vertical-connector"></div>
            <div class="vertical-end-connector"></div>
            <div class="horizontal-connector-2"></div>
          </td>
        </tr>
        <tr></tr> <!-- spacers -->

        <tr>
          <td class="player-cell">
            Player 7
            <div class="vertical-connector"></div>
          </td>
        </tr>
        <tr></tr> <!-- spacers SEMI -->
        <tr>
          <td></td>
          <td class="player-cell">
            semi 4
            <div class="vertical-connector"></div>
            <div class="vertical-end-connector"></div>
            <div class="horizontal-connector"></div>
          </td>
        </tr>
        <tr></tr> <!-- spacers -->
        <tr>
          <td class="player-cell">
            Player 8
            <div class="vertical-connector"></div>
          </td>
        </tr>

  
      </tbody>
    </table>
  </div>
  

</ion-content>
