.custom-input {
    width: 80vw;
    height: 15vw;
    text-align: center;
    font-size: large;
    margin: auto;
    border-radius: 5px;
    border-width: 1px;
    border-style: solid;
    border-color: #afafaf;
  }

  .custom-button {
    height: 5vw;
    margin-top: 10%;
    height: 13vw;
    width: 70vw;
    border-radius: 10px;
    text-align: center;
    font-size: large;
    color: white;
  }