.custom-button {
    height: 5vw;
    margin-top: 10%;
    height: 13vw;
    width: 90vw;
    margin: auto;
    border-radius: 10px;
    text-align: center;
    font-size: large;
    --background: #003366;
    color: white;
}

.full-transparent-footer {
    --background: transparent;
    background: transparent;
    box-shadow: none;
}

ion-input {
    font-size: large;
}