<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col style="margin: 5%;">
        <ion-title class="ion-text-center custom-title">Select who you are...</ion-title>
      </ion-col>
    </ion-row>

    <ion-row style="text-align: center;">
      <ion-col>
        <div class="circle"> <!-- First circle -->
          <br><br>
          <span class="label">Organizer</span>
        </div>

        <div class="circle"> <!-- Second circle -->
          <br><br><br>
          <span class="label">Participant</span>
        </div>
      </ion-col>
    </ion-row>

  </ion-grid>
</ion-content>